{% extends "base.html" %}

{% block content %}

    <h2>Blog Entries by {{author}}</h2>

    {% if blogs|length == 0 %}
    <p>No blog entries by {{author}} yet!</p>

    {% else %}

        {% for blog in blogs %}
            <a href="./blog?id={{blog.id}}">
                <h3>{{blog.title}}</h3>
            </a>
            <p>{{blog.body}}</p>
            <p class="blog_author">written by
                <a href="./blog?user={{author}}">{{author}}</a>
            </p>
            <hr />
        {% endfor %}

    {% endif %}

{% endblock %}